.books_list_container {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: var(--spacing-small) 0;
  padding: var(--spacing-small);
}

.books_list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

@media only screen and (max-width: 426px) {
  .books_list {
    justify-content: center;
  }
}
